/* @font-face {
	font-family: 'Montserrat';
	src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
		url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    	url('../fonts/Montserrat-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
} */


@font-face {
    font-family: "BonaNova";
    src: local("BonaNova Bold"),
    url("../fonts/BonaNova-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "BonaNova";
    src: local("BonaNova Regular"),
    url("../fonts/BonaNova-Regular.ttf");
    font-weight: regular;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans Bold"),
    url("../fonts/PT_Sans-Web-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "PT Sans";
    src: local("PT Sans Regular"),
    url("../fonts/PT_Sans-Web-Regular.ttf");
    font-weight: regular;
    font-style: normal;
}

html {
	box-sizing: border-box;
}


*, 
*::before, 
*::after {
  box-sizing: inherit;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}


img {
  max-width: 100%;
}


p, h1, h2, h3, figure, figcaption {
    margin: 0;
    padding: 0;
}


body {
	font-family: sans-serif, Arial;
	min-width: 320px;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}


:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --active-color: #9E9E9E;
    --button-color: #E76020;
}

.inactive {
    color: var(--active-color)
}

.container {
    width: 62.5vw;
    margin: 0 auto;
    border: 1px solid black;
}

.wrapper {
    width: 100vw;

}

.header__container {
    min-height: 10.27vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper {
 
    background-color: var(--black-color);
}

.header__logo {
    color: var(--white-color);
    font-family: "BonaNova";
    font-weight: bold;
    font-size: 3.70vh;
}

.nav__list {
    display: flex;
    flex-direction: row;
    color: var(--white-color);
}

.nav__item:not(:last-child) {
    margin-right: 3.96vw;
}

.nav__link {
    color: var(--white-color);
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 1.85vh;
}


/* ___________________intro_____________________ */

.intro__wrapper {
    width: 100%;
    height: 84.25vh;
    padding-top: 18.42vh;
    background-image: url("../assets/intro_background.png");

}

.intro__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.intro__title {
    margin-bottom: 3.24vh;
    font-family: "BonaNova";
    font-weight: regular;
    font-size: 8.88vh;
    color: var(--white-color);
    text-align: center;
}

.intro__buuton {
    padding: 2.03vh 3.64vw;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 2.56vh;
    color: var(--white-color);
    background-color: var(--button-color);
    border-radius: 10px;
}