html {
	box-sizing: border-box;
}


*, 
*::before, 
*::after {
  box-sizing: inherit;
  margin: 0;
}


a {
  color: inherit;
  text-decoration: none;
}


img {
  max-width: 100%;
}


p, h1, h2, h3, figure, figcaption {
    margin: 0;
    padding: 0;
}


svg {
 overflow: hidden;
}

svg:root {
 overflow: visible;
}

body {
	font-family: sans-serif, Arial;
	min-width: 320px;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}


button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}


:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --active-color: #9E9E9E;
    --button-color: #E76020;
    --size_h2_title: 2.96vh;
}

.booking-button {
    padding: 2.03vh 3.64vw;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 2.56vh;
    color: var(--white-color);
    background-color: var(--button-color);
    border-radius: 10px;
}


.container {
    width: 62.5vw;
    margin: 0 auto;
}

.wrapper {
    width: 100vw;

}

.header__container {
    min-height: 10.27vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__wrapper {
 
    background-color: var(--black-color);
}

.header__logo {
    color: var(--white-color);
    font-family: "BonaNova";
    font-weight: bold;
    font-size: 3.70vh;
}

.nav__list {
    display: flex;
    flex-direction: row;
    color: var(--white-color);
}

.nav__item:not(:last-child) {
    margin-right: 3.96vw;
}

.nav__link {
    color: var(--white-color);
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 1.85vh;
}

.nav__link--activ {
    color: var(--active-color);
}


/* ___________________intro_____________________ */

.intro__wrapper {
    width: 100%;
    height: 84.25vh;
    padding-top: 18.42vh;
    background-image: url("../assets/intro_background.png");

}

.intro__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

.intro__title {
    margin-bottom: 3.24vh;
    font-family: "BonaNova";
    font-weight: regular;
    font-size: 8.88vh;
    color: var(--white-color);
    text-align: center;
}


/* ____________________gallery_________________ */


.gallery__wrapper {
    display: flex;
}


.gallery__img {
    min-width: 49.47vw;
    min-height: 66.46vh;;
}


.gallery__right {
    padding-top: 11.01vh;
    padding-left: 9.47vw;;
    padding-right: 14.73vw;
}

.gallery__title {
    font-family: "BonaNova";
    font-weight: bold;
    font-size: var(--size_h2_title);
}

.gallery__description {
    margin-bottom: 5.36vh;
    font-family: "PT Sans";
    font-weight: regular;
    font-size: 1.66vh;
}

.gallery__arrow:last-child {
    margin-left: 2.70vw;
}


/* ____________________reviewas_______________ */

.reviews__wrapper {
    width: 100%;
    display: flex;
    padding-left: 6.09vw;
    padding-right: 6.09vw;
    align-items: center;
    background-image: url("../assets/review_back.png");
    padding-top: 8.61vh;
}

.rewiews__container {
     width: 73.12vw;
}

.reviews__title {
    margin-bottom: 3.24vh;
    font-family: "BonaNova";
    font-weight: bold;
    font-size: var(--size_h2_title);
    color: var(--white-color);
    margin-top: 3.24vh;
}

.reviews__content {
    display: flex;
    min-height: 100%;
    gap: 1.82vw;
    margin-bottom: 15.27vh;


}
.review__box {
    max-width: 35.15vw;
    min-height: 29.53vh;
    padding-left: 2.5vw;
    padding-top: 1.61vh;
    padding-right: 2.86vw;
    padding-bottom: 4.90vh;
    display: flex;
    background-color: var(--white-color);
}

.rewiews__img {
    max-width: 5.41vw;
    max-height: 9.62vh;
    margin-right: 1.56vw;

    
}


.review__info {
    max-height: 31px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews__block-stars {
    display: flex;
}


.reviews__name, .reviews__block-stars {
    padding-top: 1.57vh;
    margin-bottom: 3.05vh;
}


.reviews__name  {
    margin-right: 5.98vw;
    font-family: "PT Sans";
    font-weight: bold;
    font-size: 2.22vh;

}


.reviews__star {
    max-width: 1.26vw;
    max-height: 2.14vh;
}

.reviews__star:not(:last-child) {
    margin-right: 0.40vw;
}

.reviews__description {
    font-family: "PT Sans";
    font-weight: regular;
    font-size: 1.66vh;
} 


/* __________________contact_________________ */

.contact__wrapper {
    display: flex;
}

.contact__image {
    min-width: 48.44vw;
    min-height: 64.90vh;
}

.contact__right {
    padding-top: 16.57vh;
    padding-left: 9.63vw;
}

.contact__description {
    margin-bottom: 4.63vh;
    font-family: "PT Sans";
    font-family: regular;
    font-size: 2.04vh;
}

.contact__description span:first-child{
    font-weight: bold;
}


/* _________________footer_________________ */


.footer__wrapper {
    width: 100vw;
    height: 19.62vh;
    background-color: var(--black-color);
}


.footer__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__title {
    font-family: "BonaNova";
    font-weight: bold;
    font-size: 2.41vh;
    color: var(--white-color);
}

.footer__social {
    display: flex;
}

.footer__item:not(:last-child) {
    margin-right: 1.04vw;
}